* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Bitter', serif;
    font-size: 17px;
    max-width: 700px;
    min-width: 530px;
    margin: 0 auto;
    padding: 0 50px;
    background: url('light_wool.png');
}

a, a:hover, a:visited, a:active {
    color: blue;
    text-decoration: none;
}

h1 {
    font-size: 130px;
    text-align: center;
    margin-bottom: 50px;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 70px 0 50px;
}

p, blockquote {
    margin-bottom: 20px;
    line-height: 1.7em;
}

blockquote {
    margin-bottom: 50px;
}

blockquote p {
    position: relative;
    margin-left: 65px;
    margin-bottom: 0;
}

blockquote p::before {
    content: '"';
    position: absolute;
    left: -65px;
    top: 50px;
    font-size: 130px;
    color: #777
}

blockquote cite {
    display: block;
    text-align: right;
    font-size: 75%;
    font-style: italic;
    color: #888;
}

#line {
    font-size: 34px;
    whitespace: pre-wrap;
    word-wrap: break-word;
    margin-bottom: 25px;
    min-height: 200px;
}

#slider {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    margin: 50px 10px;
    background: rgba(0, 0, 0, 0.1);
    height: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#thumb {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 2px solid white;
    position: absolute;
    top: -7px;
    left: 0;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    background: rgba(100, 100, 100, 0.8);
    border-radius: 20px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.5);
    cursor: ew-resize;
}

#label {
    position: absolute;
    top: 22px;
    margin-left: -50%;
    white-space: nowrap;
    pointer-events: none;
    font-size: 10px;
    font-family: "Helvetica";
    color: #aaa;
}

#demo-image {
    display: block;
    margin: 30px auto;
    width: 100%;
}

.image-wrapper {
    position: relative;
}

.image-wrapper span {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: white;
    width: 30px;
    height: 30px;
    line-height: 32px;
    text-align: center;
    border-radius: 100%;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
    opacity: 0.6;
    cursor: pointer;
}

.image-wrapper span:hover {
    opacity: 0.9;
}

#demo-game {
    background: white;
    width: 100%;
    border: 1px solid #ddd;
    cursor: crosshair;
}